.frame-outer-outer {
  display: flex;
	border: 4px solid #b6631d;
	width: 100px;
  height: 100px;
	margin: 50px auto 0 auto;
	box-shadow: 5px 5px 15px 1px rgb(62, 31, 31);
}

.frame-outer {
  display: flex;
  flex: 1;
	border: 10px solid #a05218;
}

.paint {
  flex: 1;
	background: #569d36;
	border: 3px solid #f7ecec;
}
